.stats{
    padding:20px 0 70px;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    justify-content: center;
}

.stat-card{
    background:#fff;
    border-radius:18px;
    padding:140px;
    text-align:center;
    border:1px solid var(--border);
    box-shadow:var(--shadow);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-6px);
}

.stat-card h2{
    color:var(--primary);
    margin-bottom:10px;
}

@media(max-width:900px){

.stats-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.stats-grid{
grid-template-columns:1fr;
}

}